

body {
	background-color: #efeee7;
	font-family: "Georgia",Times New Roman, Times,serif;
	color: #333333;
	margin: 0;
	padding: 0;

}

header {
	background-color: #d21034;

}

h1 {
	background-color: #333333;
	font-size: 28px;
	margin: 10px;
	padding: 10px;
	color: #fff;
	text-align: center;
}
h2 {
	font-size: 24px;

}
.container {
	margin:90px;
}
#main-bio {
	float:left;
	width:70%;

}
#contact-info {
	float:left;
	width:30%;

}
#bio-image {
	float:left;
	width:200px;
	margin-right: 20px;
}
p {
	line-height: 150%;
	text-align: justify;
	margin-right: 50px; /* Doing padding-right: 50px instead does the same thing here!!*/
	 
}
#red {
	color: #d21034;
}













